html{
    padding: 2%;
}
header{
    text-align: center;
}
.section{
    background-color: rgb(185, 171, 136);
    color: gold;
    padding: .2%;
}
.sections{
    background-color: rgb(116, 111, 106);
    color: gold;
}
label{
    border: 2px solid grey;
    background-color: darkgrey;
    padding: .3%;
}
button{
    width: 100%;
}